@import "tailwindcss";

@theme {
  /* Color */
  --color-yellow: #ffdc64;
  --color-dark-blue: #136f77;
  --color-light-blue: #2b7d85;
  --color-dark-grey: #363B3C;
  --color-gray: #363B3C;
  --color-light-gray: #86898A;
  /* Font Size  */

  --text-26: 26px;
  --text-32: 32px;
  --text-40: 40px;
  --text-80: 80px;

  /* Shadow */

  --shadow-common-button: 2px 4px 0px 0px #00000029;
  --shadow-logo: 2px 2px 0px 0px #00000029;
  --drop-shadow-heading: 2px 2px 0px #00000029;


  /* Line Height */
  --spacing-100: 100%;
  --spacing-119: 119%;
  --spacing-130: 130%;
  --spacing-131: 131%;
}

@font-face {
  font-family: cooper hewitt;
  src: url('../../public/assets/fonts/CooperHewitt-Heavy.otf');
  font-weight: 900;
}

@font-face {
  font-family: cooper hewitt;
  src: url('../../public/assets/fonts/CooperHewitt-Bold.otf');
  font-weight: 700;
}

@font-face {
  font-family: cooper hewitt;
  src: url('../../public/assets/fonts/CooperHewitt-Medium.otf');
  font-weight: 500;
}

* {
  font-family: cooper hewitt, sans-serif;
  scroll-behavior: smooth;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  z-index: 50;
}

.swiper-pagination-bullet {
  background: #363B3C !important;
  width: 20px !important;
  height: 20px !important;
  margin: 0 !important;
  border-radius: 999px;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  width: 75px !important;
  border-radius: 20px !important;
  background: #246E6D !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.hero-text {
  text-shadow: 2px 2px 8px #00000029;
}

.common-text-shadow{
  text-shadow: 2px 2px 0px #00000029;
}


/* Hero Swiper */


.hero-slider .swiper-slide-active img {
  transform: scale(1.43);
}

@media (max-width: 1399.98px) {
  .hero-slider .swiper-slide-active img {
    transform: scale(1.3);
  }
}

@media (max-width: 399.98px) {
  .hero-slider .swiper-slide-active img {
    transform: scale(1.44);
  }
}
/* animate spin */

.food-plate{
  animation: spin 10s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}