@import "tailwindcss";

@theme {
    /* Color */
    --color-yellow: #ffdc64;
    --color-dark-blue: #136f77;
    --color-light-blue: #2b7d85;
    --color-dark-grey: #363B3C;

    /* Font Size  */
    
    --text-26: 26px;
    --text-32: 32px;
    --text-40: 40px;
    --text-80: 80px;

    /* Shadow */
    
    --shadow-common-button: 2px 4px 0px 0px #00000029;

    /* Line Height */
    --spacing-130: 130%;
    --spacing-131: 131%;
    
}